/* ════════════════════════════════════════
       LAYOUT
    ════════════════════════════════════════ */
.app-layout {
    display: grid;
    grid-template-columns: 1fr 400px;
    height: calc(100vh - var(--hh));
    margin-top: var(--hh);
    overflow: hidden
}

.map-panel {
    position: relative;
    background: #d4e4f0;
    overflow: hidden
}

.feed-panel {
    background: var(--bg);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--border)
}